#### Folder Rules ####

.vs/
_ReSharper*/
bin/
Build/Output/
node_modules/
obj/
packages/
wwwroot/


#### Filetype Rules ####

*.coverage
*.DotSettings
*.jtconfig
*.log
*.nupkg
*.obj
*.orig
*.PARAFFIN
*.pubxml
*.rej
*.[Rr]e[Ss]harper
*.suo
*.user
*.zip
